html, body {
  margin: 0px;
}

p, span {
  font-family: 'Roboto';
  font-size: 14pt;
}

p {
  font-weight: 300;
  font-size: 14pt;
}

#title {
  color: white;
  display: block;
/*  margin-top: 3%;*/
  margin-top: 3vh;
  text-align: center;
  font-size: 26pt;
  font-family: 'Roboto';
  font-weight: 300;
}

html { 
  background: url(assets/saiko_2_cropped_blur.png) no-repeat center center fixed; 
  -webkit-background-size: 100vw 100vh;
  -moz-background-size: 100vw 100vh;
  -o-background-size:  100vw 100vh;
  background-size: 100vw 100vh;
}

#mainContent {
  width: 100%;
  height: 100%;
/*  background-image: url(assets/saiko_2_cropped_blur.png);*/
/*  background-size: 100% 100%;*/
}

#mainOverlay {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

#leftTextContainer {
  max-width: 450px;
  min-height: 200px;
  padding-top: 10%;
/*  background-color: red;*/
  margin: auto;
}

#installationTitleContainer {
  min-width: 50px;
  margin: auto;
  text-align: center;
}

#installationTitle {
  color: white; 
}

.installTargetImage {
  width: 35px;
  height: 35px;
  margin-left: 4px;
  margin-top: 4px;
}

.leftText {
  color: white;
  text-align: center;
}

.targetImageContainer {
  width: 43px;
  height: 43px; 
}

.targetImageContainer:hover {
  background-color: rgba(0,0,0,0.6);
}

#installTargetsContainer {
  max-width: 300px;
  min-height: 50px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}